rag_email_agent.json
{
  "name": "rag_email_agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "18lwyw7VVxql5JCpNEyIS9rKs8hzfhYzl",
          "mode": "list",
          "cachedResultName": "rag app2",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18lwyw7VVxql5JCpNEyIS9rKs8hzfhYzl"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        -280
      ],
      "id": "636a675d-7ba8-4aee-89a5-2a13c74e4076",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "miOzT9gZF4nKLw6k",
          "name": "ali's google drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -420,
        -280
      ],
      "id": "0a1d70c5-ac58-41f0-8b74-33e198855572",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "miOzT9gZF4nKLw6k",
          "name": "ali's google drive"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -180,
        400
      ],
      "id": "ee4b6208-6c1a-4134-a299-9c429f854007",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "IWZ5WKMJiV5068kS",
          "name": "ali's open ai"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        0,
        -120
      ],
      "id": "1978224a-c80e-4fb7-a1e0-616d046ec0e0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        -120
      ],
      "id": "ff927298-27eb-4952-a05a-dd8eb1f6e8a9",
      "name": "When chat message received",
      "webhookId": "356fc708-4446-40ce-89aa-0bc99bbe027a"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=## Role:\nYou are a friendly assistant for a goldsmith named **Goldsmith **.\n## Task:\nYou answer questions about the business.\n## Details:\nYou have access to various tools, which you use correctly.\n## Tools:\n**Answer questions with a vector store**\nUse this tool to answer questions with knowledge about the company.\n\n**google sheet**\nif any one want to order a product then you have to ask his or her information as follows\nname:\nemail:\ncontact:\naddress:\nproduct:\n\nthen fill the customers information in the google sheet accordingly\n\n**gmail**\n\nwhen the customer done with his or her information and confirmed the order then send a mail to that person that his order has been confirmed and send all his information there and always end email with goldsmith\n\nthe tone will be nice and friendly \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -580,
        -100
      ],
      "id": "e79e8007-bfdb-4d44-bd34-50eec2b3556d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -800,
        260
      ],
      "id": "b532ccf0-a21c-4a28-8aff-e33748cf8ed1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IWZ5WKMJiV5068kS",
          "name": "ali's open ai"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -820,
        80
      ],
      "id": "a026a6f2-a436-42be-a982-02698acae09c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "give answer related to the company gold digger"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -580,
        160
      ],
      "id": "a3e5371d-337e-4ba4-ae1f-d17b429a8d9d",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jNF9qdt1zn7Dj5hBcwojGmNjF45m21SxPE_kX5wsTc8",
          "mode": "list",
          "cachedResultName": "orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jNF9qdt1zn7Dj5hBcwojGmNjF45m21SxPE_kX5wsTc8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jNF9qdt1zn7Dj5hBcwojGmNjF45m21SxPE_kX5wsTc8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name_', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "contact": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact', ``, 'string') }}",
            "address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('address', ``, 'string') }}",
            "product": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('product', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name ",
              "displayName": "name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact",
              "displayName": "contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product",
              "displayName": "product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -80,
        100
      ],
      "id": "842a5ee5-15a6-4450-958c-d83571f086da",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K4T3pQbIwEAiZUmi",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -280,
        120
      ],
      "id": "ede32321-0c01-4acf-a9ec-81baa8a2a37d",
      "name": "Send a message in Gmail",
      "webhookId": "047663d4-81e3-48f2-ac8e-27a4d5a8de4f",
      "credentials": {
        "gmailOAuth2": {
          "id": "tADgpQsJ8bMHi1FT",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -600,
        300
      ],
      "id": "c421917b-43e2-4c52-b09a-b33dd19c5a66",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "khazXXWNUz4bZhbD",
          "name": "ali supa base account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        180,
        60
      ],
      "id": "9a0e2f8a-e650-4bd2-baed-11fa11bdd29b",
      "name": "Calculator"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -140,
        -300
      ],
      "id": "b13850ee-a6a8-47da-a4bd-1401847b0fe0",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "khazXXWNUz4bZhbD",
          "name": "ali supa base account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb051c01-ef11-4f67-9858-6e8fec99edd9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44ab86ced0d239c1654b0cb0f02eeb607ed4a6a9ae622a2a69658ee4d471167b"
  },
  "id": "URtc6ktRB6oGtbJH",
  "tags": []
}